*{margin:0; padding :0; box-sizing: border-box;}

#container{
  width:100vw;
  height:100vh;
  background-color: #ccc;
  
  &>div{
    height:100vh;
    width:30vw;
    border: 1px solid black;
  }




  &>div:nth-child(4){
    background-color: #4aa;
    position: absolute;
    left:70vw;
    
  }
  



  &>div:nth-child(3){
    background-color: #a2a2a2;
    position: absolute;
    left:40vw;
    &>div{
      width:fit-content;
      height:fit-content;
      font-size: 20rem;
      font-weight: bold;
      position: relative;
      left:-3rem;
      top: 12rem;
      // z-index: ;
    }
  }
    



    &>div:nth-child(2){
      background-color: #a2a002;
      position: absolute;
      left:25vw;
      &>div{
        width:fit-content;
        height:fit-content;
        font-size: 20rem;
        font-weight: bold;
      position: relative;
      left:-4rem;
      top: 12rem;
      // z-index: 1;
    }
  }
  



  &>div:nth-child(1){
    background-color: #a002a2;
    width:25vw;
    position: absolute;
    // z-index: 2;
  }
      
  //위아래에 영향을 주기 위해서 순서를 바꿔봄 -> 걍 그대로 인것 같음 
}
