*{margin:0; padding :0; box-sizing: border-box;}
#container{
  width:100vw;
  height:100vh;
  background-color: #ccc;




  
// 주신 레이아웃은 시간만 있으면 만들 수 있을거 같아서
// background-color에 색상값을 일정하게 더하는 식?을 만들고 싶다
  
  // 생각한 방식
  // 색상값(rgb)이 일정한 크기로 증가해서 색을 표현
  // 예를 들어 (0+n, 0,0) 해서 red값을 변화를 준다거나
  // 색상을 변하게 하고싶는데 그런 표기 방법이 있을까?
  // 그럼 변수를 뭘로 설정하지? --> div:nth-child(n)의 n이 여야함
  
  
  

  &>div{
    height:100vh;
    width:30vw;
    border: 1px solid black;
  }
  
  &>div:nth-child(1){
    background-color: #a002a2;
    position: absolute;
  }
  &>div:nth-child(2){
    background-color: #a2a002;
    position: absolute;
    left:25vw;
  }
  &>div:nth-child(3){
    background-color: #a2a2a2;
    position: absolute;
    left:40vw;
  }
  &>div:nth-child(4){
    background-color: #4aa;
    position: absolute;
    left:70vw;

  }
}